.arduino-code-button {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.arduino-code-button {
    opacity: 0.5;
    filter: grayscale(100%);
}

.arduino-code-button:hover {
    transform: scale(1.2);
}

.arduino-code-button.is-active {
    opacity: 1;
    filter: none;
}
